@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-custom-Red: hsl(4, 100%, 67%);
  --color-custom-Blue-800: hsl(234, 29%, 20%);
  --color-custom-Blue-700: hsl(235, 18%, 26%);
  --color-custom-Grey: hsl(0, 0%, 58%);
  --color-custom-White: hsl(0, 0%, 100%);
}
